<tr id="entry-<%= entry.id %>">
  <td><%= entry.title %></td>
  <td><%= entry.description %></td>
  <td><%= entry.starts_at %></td>
  <td><%= entry.ends_at %></td>
  <td><%= link_to 'Show', entry %></td>
  <td><%= link_to 'Edit', edit_entry_path(entry), remote: true %></td>
  <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>
